dt {
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

.sidebar ul {
    list-style: none;
    margin-left: -0.5em;
}

.sidebar > ul {
    padding: 0;
    margin: 0;
}

.sidebar .part-title {
    padding-top: 0.8em;
    font-weight: bold
}
