
/* Hex display */

.token-raw {

    color: @Khaki;

}

.token-raw-full {

    color: @DarkSalmon;

    font-weight: bold;

}

.token-raw-null {

    color: @MediumSeaGreen;

}

.token-printable {

    color: @Khaki;

}

.token-not-printable {

    color: @MediumSeaGreen;

}

/* Assembly views */

.token-comment,
.token-indication {

    color: @Chocolate;

}

.token-phys-addr-padding,
.token-virt-addr-padding {

    color: @Sienna;

}

.token-phys-addr,
.token-virt-addr {

    color: @Peru;

}

.token-raw-code {

    color: @Khaki;

}

.token-raw-code-null {

    color: @MediumSeaGreen;

}

.token-label,
.token-section,
.token-segment {

    color: @DeepSkyBlue;

}

.token-instruction {

    color: @WhiteSmoke;

}

.token-immediate {

    color: @HotPink;

}

.token-register {

    color: @LimeGreen;

}

.token-punct,
.token-hooks,
.token-signs,
.token-ltgt {

    color: @Wheat;

}

.token-string {

    color: @GoldenRod;

}

.token-var-name {

    color: @OrangeRed;

}

.token-keyword {

    color: @MediumPurple;

}

.token-error {

    color: @VioletRed;

}
