
#img-undo {

    background-image: url("undo.png");
    background-repeat: space;

    padding-right: 10px;

}

#img-redo {

    background-image: url("redo.png");
    background-repeat: space;

    padding-right: 10px;

}

#img-clean {

    background-image: url("clean.png");
    background-repeat: space;

    padding-right: 10px;

}
