


@define-color binportion-raw-color #808080;

@define-color binportion-code-color #4150ae;

@define-color binportion-data-color #ae4141;

@define-color binportion-data-ro-color #aeaa41;

@define-color binportion-disassembly-error #000000;




.binportion-raw {

    background-color: @binportion-raw-color;

    border-color: darker(@binportion-raw-color);
    border-width: 1px;
    border-style: solid;

}

.binportion-code {

    background-color: @binportion-code-color;

    border-color: darker(@binportion-code-color);
    border-width: 1px;
    border-style: solid;

}

.binportion-data {

    background-color: @binportion-data-color;

    border-color: darker(@binportion-data-color);
    border-width: 1px;
    border-style: solid;

}

.binportion-data-ro {

    background-color: @binportion-data-ro-color;

    border-color: darker(@binportion-data-ro-color);
    border-width: 1px;
    border-style: solid;

}

.binportion-disassembly-error {

    background-color: @binportion-disassembly-error-color;

    border-color: darker(@binportion-disassembly-error-color);
    border-width: 1px;
    border-style: solid;

}
