
/* Hex display */

.token-raw {

    color: #999;

}

.token-raw-full {

    color: #fff;

    font-weight: bold;

}

.token-raw-null {

    color: #000;

}

.token-printable {

    color: #999;

}

.token-not-printable {

    color: #000;

}

/* Assembly views */

.token-comment,
.token-indication {

    color: #37b05b;

}

.token-phys-addr-padding,
.token-virt-addr-padding {

    color: darker(#7c7c7b);

}

.token-phys-addr,
.token-virt-addr {

    color: #7c7c7b;

}

.token-raw-code,
.token-raw-code-null {

    color: #000;


}

.token-label,
.token-section,
.token-segment {

    color: #ffd200;

}

.token-instruction,
.token-keyword {

    color: #bebebe;

}

.token-immediate {

    color: #a020f0;

}

.token-register {

    color: #4141d1;

}

.token-punct,
.token-hooks,
.token-signs,
.token-ltgt {

    color: #000;

    font-weight: bold;

}

.token-string {

    color: #cc7e00;

}

.token-var-name {

    color: #c50;

}

.token-error {

    color: #ff0000;

    font-weight: bold;

}
