
.graph-block {

    background-color: rgba(255, 255, 255, 0.025);

}

.block-palette > image {

    background-image: url('resource:///org/chrysalide/gui/core/images/palette.png');

}

.block-collapse > image {

    background-image: url('resource:///org/chrysalide/gui/core/images/collapse_dark.png');

}

.block-expand > image {

    background-image: url('resource:///org/chrysalide/gui/core/images/expand_dark.png');

}
