
/* Hex display */

.token-raw {

    color: @base1;

}

.token-raw-full {

    color: @base2;

    font-weight: bold;

}

.token-raw-null {

    color: @base02;

}

.token-printable {

    color: @base1;

}

.token-not-printable {

    color: @base02;

}

/* Assembly views */

.token-comment,
.token-indication {

    color: @green;

}

.token-phys-addr-padding,
.token-virt-addr-padding {

    color: @base02;

}

.token-phys-addr,
.token-virt-addr {

    color: @base01;

}

.token-raw-code,
.token-raw-code-null {

    color: @base00;


}

.token-label,
.token-section,
.token-segment {

    color: @blue;

}

.token-instruction {

    color: @base3;

}

.token-immediate {

    color: @orange;

}

.token-register {

    color: @violet;

}

.token-punct,
.token-hooks,
.token-signs,
.token-ltgt {

    color: @cyan;

    font-weight: bold;

}

.token-string {

    color: @yellow;

}

.token-var-name {

    color: @magenta;

}

.token-keyword {

    color: @base3;

    font-style: italic;

}

.token-error {

    color: @red;

    font-weight: bold;

}
